body {
    background-color: #8f8f8f;
}

h1 {
  color: #a2c2e0;
}

h2 {
    color: #fdfdff;
}

.img {
    width: 330px;
    height: 330px;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    background: url(img/imgscale.jpg) no-repeat;
}